@use '../abstracts/placeholders';

.card {
  &__author {
    margin-block-start: clamp(1em, calc(0.5em + 2vw), 1.4em);

    &-name {
      display: inline-block;
    }

    &-age {
      display: inline;
      margin-inline-start: clamp(0.1em, calc(0.05em + 0.4vw), 0.3em);
    }

    &-origin {
      text-align: center;
      margin-block-start: clamp(0.5em, calc(0.3em + 1vw), 0.8em);
    }
  }

  &__footer {
    padding-block: clamp(0.8em, calc(0.75em + 0.5vw), 1em);
  }

  &__stats {
    font-size: 0.7em;
    text-align: center;
    letter-spacing: 1px;
    &-count {
      display: block;
      font-size: clamp(1.3em,calc(1.25em + 0.35vw),1.5em);
      margin-block-end: clamp(0.2em, calc(0.18em + 0.2vw),0.3em);
    }
  }

}